In [2]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:

df = pd.DataFrame({
    "Weight":[2,4,5,3,6,5,7],
    "Price":[35,60,20,50,50,55,60]
})

In [4]:
df

   Weight  Price
0       2     35
1       4     60
2       5     20
3       3     50
4       6     50
5       5     55
6       7     60

In [5]:
df.head()

   Weight  Price
0       2     35
1       4     60
2       5     20
3       3     50
4       6     50

In [8]:
df.isnull()

   Weight  Price
0   False  False
1   False  False
2   False  False
3   False  False
4   False  False
5   False  False
6   False  False

In [9]:
df.isnull().sum()

Weight    0
Price     0
dtype: int64

In [10]:
x = df['Weight']

y = df['Price']

In [11]:
x

0    2
1    4
2    5
3    3
4    6
5    5
6    7
Name: Weight, dtype: int64

In [12]:
y

0    35
1    60
2    20
3    50
4    50
5    55
6    60
Name: Price, dtype: int64

In [13]:
mean_x = np.mean(x)
mean_y = np.mean(y)

In [14]:
mean_x

4.571428571428571

In [15]:
mean_y

47.142857142857146

In [16]:
dev_x = x - mean_x
dev_y = y - mean_y

In [17]:
dev_x

0   -2.571429
1   -0.571429
2    0.428571
3   -1.571429
4    1.428571
5    0.428571
6    2.428571
Name: Weight, dtype: float64

In [18]:
dev_y

0   -12.142857
1    12.857143
2   -27.142857
3     2.857143
4     2.857143
5     7.857143
6    12.857143
Name: Price, dtype: float64

In [19]:
m = np.sum(dev_x*dev_y) / np.sum(dev_x**2)
m

2.620967741935484

In [21]:
c = mean_y - (m * mean_x)
c

35.16129032258065

predict the price when the vegetable weight is 6

In [22]:
veg_w_6 = (m * 6 ) + c
veg_w_6

50.88709677419355

Compute the residuals for each data point.

In [23]:

df['Predicted Price'] = (m * df['Weight']) + c

df

   Weight  Price  Predicted Price
0       2     35        40.403226
1       4     60        45.645161
2       5     20        48.266129
3       3     50        43.024194
4       6     50        50.887097
5       5     55        48.266129
6       7     60        53.508065

In [24]:
df['Residual'] = df['Price'] - df['Predicted Price']
df

   Weight  Price  Predicted Price   Residual
0       2     35        40.403226  -5.403226
1       4     60        45.645161  14.354839
2       5     20        48.266129 -28.266129
3       3     50        43.024194   6.975806
4       6     50        50.887097  -0.887097
5       5     55        48.266129   6.733871
6       7     60        53.508065   6.491935

Calculate both the Mean Squared Error (MSE) and Mean Absolute Error (MAE)

# MSE

In [25]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(df['Price'], df['Predicted Price'])
mse

167.30990783410135

# MAE

In [26]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(df['Price'], df['Predicted Price'])
mae

9.87327188940092

Generate an Excel file for the given dataset. Utilize Python for all the calculations

In [27]:
df.to_excel('linear_regression_results.xlsx', index=False)