In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    'Age': [21, 20, 22, 22, 23, 21, 25, 30, 31],
    'Income': [60, 55, 60, 61, 65, 62, 65, 70, 68]
}
df = pd.DataFrame(data)

In [3]:
df

   Age  Income
0   21      60
1   20      55
2   22      60
3   22      61
4   23      65
5   21      62
6   25      65
7   30      70
8   31      68

In [6]:
x = df[['Age']]
y = df[['Income']]
x

   Age
0   21
1   20
2   22
3   22
4   23
5   21
6   25
7   30
8   31

In [7]:
y

   Income
0      60
1      55
2      60
3      61
4      65
5      62
6      65
7      70
8      68

# Implement K-Nearest Neighbors (KNN)

In [8]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=3)

In [9]:
knn.fit(x,y)

KNeighborsRegressor(n_neighbors=3)

# Predict income for Age 22

In [10]:
predicted_income_knn = knn.predict([[22]])

C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(

In [12]:
predicted_income_knn

array([[60.33333333]])

# Implement Linear Regression

In [13]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()

In [14]:
lin_reg.fit(x,y)

LinearRegression()

# Predict income for Age 22

In [15]:
predicted_income_lr = lin_reg.predict([[22]])

C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [18]:
predicted_income_lr

array([[60.97068966]])

# Compare KNN and Linear Regression Predictions

In [19]:
print("KNN Prediction:", predicted_income_knn[0])
print("Linear Regression Prediction:", predicted_income_lr[0])

KNN Prediction: [60.33333333]
Linear Regression Prediction: [60.97068966]

In [21]:
# Adding predictions to the dataframe
df.loc[df['Age'] == 22, 'Predicted Income (KNN)'] = predicted_income_knn[0]
df.loc[df['Age'] == 22, 'Predicted Income (Linear Regression)'] = predicted_income_lr[0]

# Exporting to Excel
df.to_excel("predicted_incomes.xlsx", index=False)

In [22]:
df

   Age  Income  Predicted Income (KNN)  Predicted Income (Linear Regression)
0   21      60                     NaN                                   NaN
1   20      55                     NaN                                   NaN
2   22      60               60.333333                              60.97069
3   22      61               60.333333                              60.97069
4   23      65                     NaN                                   NaN
5   21      62                     NaN                                   NaN
6   25      65                     NaN                                   NaN
7   30      70                     NaN                                   NaN
8   31      68                     NaN                                   NaN